<?xml version="1.0" encoding="windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product
            Id="*"
            Name="高级计算器"
            UpgradeCode="{{upgradeCode}}"
            Language="2052"
            Manufacturer="高级计算器"
            Version="{{version}}">
        <Package
                Id="*"
                Keywords="Installer"
                InstallerVersion="450"
                Languages="2052"
                Compressed="yes"
                InstallScope="perUser"
                SummaryCodepage="1252"/>

        <MajorUpgrade
                AllowSameVersionUpgrades="yes"
                DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
        
        <Media Id="1" Cabinet="app.cab" EmbedCab="yes"/>
        
        <Icon Id="ProductIcon" SourceFile="{{iconPath}}"/>
        <Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
        <Property Id="ARPNOREPAIR" Value="yes" Secure="yes"/>
        <SetProperty Id="ARPNOMODIFY" Value="1" After="InstallValidate" Sequence="execute"/>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="LocalAppDataFolder">
                <Directory Id="INSTALLDIR" Name="高级计算器"/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="高级计算器"/>
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop"/>
        </Directory>

        <DirectoryRef Id="INSTALLDIR">
            <Component Id="CalculatorExe" Guid="*">
                <File Id="CalculatorExeFile" Source="{{exePath}}" Name="{{exeName}}" KeyPath="yes"/>
            </Component>
            {{#each resources}}
            <Component Id="{{this.id}}" Guid="*">
                <File Id="{{this.fileId}}" Source="{{this.path}}" Name="{{this.name}}" KeyPath="yes"/>
            </Component>
            {{/each}}
        </DirectoryRef>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="*">
                <Shortcut
                        Id="ApplicationStartMenuShortcut"
                        Name="高级计算器"
                        Description="高级科学计算器应用"
                        Target="[#CalculatorExeFile]"
                        WorkingDirectory="INSTALLDIR"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\高级计算器" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="DesktopFolder">
            <Component Id="DesktopShortcut" Guid="*">
                <Shortcut
                        Id="DesktopShortcut"
                        Name="高级计算器"
                        Description="高级科学计算器应用"
                        Target="[#CalculatorExeFile]"
                        WorkingDirectory="INSTALLDIR"/>
                <RegistryValue Root="HKCU" Key="Software\高级计算器" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <Feature Id="MainApplication" Title="Main Application" Level="1">
            <ComponentRef Id="CalculatorExe"/>
            {{#each resources}}
            <ComponentRef Id="{{this.id}}"/>
            {{/each}}
            <ComponentRef Id="ApplicationShortcut"/>
            <ComponentRef Id="DesktopShortcut"/>
        </Feature>
    </Product>
</Wix>
